<div class="row mt-4 p-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Revenue
            </div>
            <div class="card-body">
                <chart-revenue></chart-revenue>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Impresions
            </div>
            <div class="card-body">
                <chart-impresions></chart-impresions>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Visits
            </div>
            <div class="card-body">
                <chart-visits></chart-visits>
            </div>
        </div>
    </div>
</div>
